body {
  padding-top: 1rem;
  background-color: #dadada;
}
.starter-template {
  padding: 3rem 0;
  text-align: center;
}

table.mytable tr:hover {
  cursor: pointer;
	border:1px solid black;
}

.link-dir {
  white-space: nowrap;
  text-align: left;
}


.text-dir {
  text-align: left;
}

.text-description {
  text-align: left;
}