## IGNORE ALL FOLDERS
/*/

## DONT IGNORE SUBPROJECTS
!/black/
!/blue/
!/gray/
!/grey/
!/green/
!/orange/
!/pink/
!/purple/
!/red/
!/yellow/
!/white/

## IGNORED FOLDERS
/.idea
/vendor
/node_modules
/package-lock.json


## IGNORED FILES
yarn.lock
.DS_Store
/.env
/.env.local
/.env.development
/.env.production
/.env.test
