## IGNORE ALL FOLDERS
/*/

## DONT IGNORE SUBPROJECTS
!/1/
!/2/
!/3/


## IGNORED FOLDERS
/.idea
/vendor
/node_modules
/package-lock.json


## IGNORED FILES
yarn.lock
.DS_Store
/.env
/.env.local
/.env.development
/.env.production
/.env.test
